// ACBB Theming colors
// From logo
$brand-logo-primary : #f89e33;
$brand-logo-dark : #000002;
$brand-logo-grey : #231f20;

// From flatui colors
$brand-primary : #d35400;
$brand-secondary : #2980b9;
$brand-tertiary : #2c3e50;
$brand-silver : #bdc3c7;
$brand-error: #c0392b;

// Z-index vars
$z-index-input: 9900;
$z-index-label: 9800;
$z-index-menu: 9000;
$z-index-datepicker: 2000;
